/*
  Layout
*/
body, html {
  min-width: 320px;
}

.site-wrapper {
  max-width: $global-width;
  margin: 0 auto;
  background-color: $white;
}

#site-header,
#main-content,
#site-footer,
#footer-credits {
  padding: 0 1rem;
  @include breakpoint(medium) {
    padding: 0 2rem;
  }
}

.grid-container {
  padding: 0 1rem;
  @include breakpoint(medium) {
    padding: 0 1.5rem;
  }
}

#main-content {
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: $white;
  position: relative;
}