{# ACCOUNT PASSWORD RESET #}
{% extends "_layout" %}

{# SET HEADER VARIABLES #}
{% set title                    = "Reset your password" %}
{% set class                    = "account" %}

{# SET SEO VALUES #}
{% do seomatic.meta.seoTitle( "Password Reset" ) %}

{% block content %}
  
  <header class="page-header text-center">
    <h1 class="page-title">Password Reset Sent</h1>
  </header>
  
  <div class="grid-x grid-margin-x align-center">
    <div class="main medium-8 large-6 cell">
  
      <div id="passwordForm">
        <p>Check your inbox for an email from {{ craft.app.projectConfig.get('email.fromEmail') }} with the subject line <strong>Reset your password</strong>. Follow the instructions in the email to create a new password.</p> 
        <p>If you did not receive this email, check your Spam or Bulk Mail folders. It's possible that the email we tried to send you was caught by a spam or bulk mail filter in your email system. If are still having issues, please <a href="/contact">contact us</a>.</p>
      </div>
  
      <p class="text-center"><a href="{{ url('account/login') }}">Login to your account</a></p>
  
    </div>
  </div>

{% endblock %}