$font-sans: "museo-sans", 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
$font-slab: "museo-slab",serif;
$font-header: "dharma-gothic-e", DharmaGothicM-Bold,'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

$black: #000000;
$white: #FFFFFF;
$offwhite: #f6f8f5;
$gray: #aaa;

$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #666666;
$black: #000000;
$white: #FFFFFF;

$green: #86B239;
$light-green: #8FC73E;
$teal: #1E7577;
$dark-teal: #004c4c;
$blue: #79CAC9;
$dark-blue: #00a7a0;
$yellow: #fcc20c;
$red: #d22005;

$rule-color: #9BBCBD;