/*
  Buttons
*/

.orbit {

  .orbit-wrapper {
    //border: 1px solid $light-gray;
    //background-color: #f9f9f9;
  }

  .orbit-image {
    width: auto;
    display: block;
    margin: 0 auto;
  }

}