{# CALENDAR MOBILE NAV #}
<div id="calMobileNav" class="hide-for-medium">
  <h3>View Calendar</h3>
  <div class="grid-x grid-margin-x">
    <div class="small-6 cell">
      <a href="{{ siteUrl }}calendar" class="button hollow expanded">Monthly</a>
    </div>
    <div class="small-6 cell">
      <a href="{{ siteUrl }}calendar/day" class="button hollow expanded">Daily</a>
    </div>
  </div>
</div>