{# ACCOUNT PAGE SIDEBAR #}

{% set path = craft.app.request.getPathInfo %}
<div class="sidebar large-4 large-offset-1 cell medium-order-2">
  <div class="account-nav show-for-medium">
    {% include 'account/_partials/nav-links' %}
  </div>
</div>