[core]
    autocrlf = input
    excludesfile = ~/.gitignore_global
	commentChar = %
[alias]
    co = checkout
    contest = shortlog --numbered --summary --no-merges
    diffc = diff --color
    diffcc = diff --color --cached
    dirt = ls-files --others
    g = grep --color -n
    lg = log --graph --color --pretty=format:'%Cred[%h]%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset - %C(bold blue)%an%Creset' --abbrev-commit
    recent = for-each-ref --sort committerdate --format '%(objectname:short) %(objecttype) %(authordate:short) %(refname:short) - %(authorname)' refs/remotes/
    rec-feat = for-each-ref --sort committerdate --format '%(objectname:short) %(objecttype) %(authordate:short) %(refname:short) - %(authorname)' refs/remotes/*/feature*
    search-diff = "!git log -G$1 -- ."
    showc = show --color --show-signature
    sl = shortlog --numbered --no-merges --format='* %Cred[%h]%Creset %s %Cgreen(%cr)%Creset'
    st = status
    vlog = log --first-parent -m --stat
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
