{# SINGLE PAGE CENTERED #}

<header class="page-header">
  <h1 class="page-title">{{ entry.title }}</h1>
</header>

<div class="grid-x grid-margin-x align-center">
  <div class="main small-12 large-8 cell">
    {{ entry.body }}
  </div>
</div>