.form-group {
  margin-bottom: 2rem;
  @include breakpoint(medium) {
    margin-bottom: 3rem;
  }

  & > div,
  fieldset {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

}

form {

  legend {
    display: block;
    font-weight: 700;
  }

  .notice-required {
    float: right;
    font-weight: 400;
  }

  .require {
    font-weight: 700;
    &:after {
      content: "*";
      color: $alert-color;
      margin-left: 3px;
    }
  }

  .section-header {
    font-size: rem-calc(24);
    font-weight: 700;
    color: $teal;
    font-family: $font-sans;
    border-bottom: 1px solid $medium-gray;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin-bottom: 1rem;
  }

  .form-error,
  .help-text {
    margin-top: -.75rem;
    margin-bottom: .75rem;
  }

  .duplicate-error {
    display: block;
    margin: -.5rem 0 .5rem 0;
    font-size: .75rem;
    font-weight: 700;
    color: $alert-color;

    a {
      color: $alert-color;
      text-decoration: underline;
      &:hover {
        color: $black;
      }
    }

  }

  .optional-field {
    margin-left: 1.5rem;
    max-width: 300px;
    display: none;

    &.show {
      display: block;
    }

  }

  .checkbox,
  .radio {
    position: relative;

    label {
      padding-left: 30px;
      position: relative;
    }

    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      left: 5px;
      top: 5px;
    }

  }

  .checkbox-group {

    .form-error {
      margin: .5rem 0;
    }

    &.grid-margin-x {

      .form-error {
        margin: .5rem 1rem;
      }

    }

  }

  .cell .checkbox:last-child,
  .cell .radio:last-child {
    margin-bottom: 1.5rem;
  }

  #register-newsletter {

    input[type='checkbox'] {
      margin-bottom: 0;
    }

  }

  .callout {

    &.alert {
      color: $alert-color;
      font-weight: 700;
    }

  }

}